:root {
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orange-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);
    
    --gradient-light-slate-blue: hsl(252, 100%, 67%);       /* background */
    --gradient-light-royal-blue: hsl(241, 81%, 54%);        /* background */
    --gradient-violet-blue: hsla(256, 72%, 46%, 1);         /* circle bottom */
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);        /* circle top */
    
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);

    --max-width-card: 37.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg__light__red {
    background-color: hsla(0, 100%, 67.1%, 0.06);
}

.bg__light__red .item__libelle {
    color: var(--primary-light-red);
}

.bg__orange__yellow {
    background-color: hsla(38.8, 100%, 56.1%, 0.06);
}

.bg__orange__yellow .item__libelle {
    color: var(--primary-orange-yellow);
}

.bg__green__teal {
    background-color: hsla(166, 100%, 37.1%, 0.06);
}

.bg__green__teal .item__libelle {
    color: var(--primary-green-teal);
}

.bg__cobalt__blue {
    background-color: hsla(233.8, 85.2%, 44.9%, 0.06);
}

.bg__cobalt__blue .item__libelle {
    color: var(--primary-cobalt-blue);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.125rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card__header {
    color: var(--neutral-white);
    text-align: center;
    background: linear-gradient(
        to bottom, 
        var(--gradient-light-slate-blue), 
        var(--gradient-light-royal-blue)
    );
    padding: 1.25rem 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-bottom-left-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
}

.card__header .badge,
.card__header .total {
    opacity: 0.6;
    font-size: 1rem;
}

.card__header .badge {
    margin-bottom: 0.625rem;
}

.card__header .compter {
    background: linear-gradient(
        180deg,
        var(--gradient-violet-blue) 3%,
        var(--gradient-persian-blue) 97%
    );
    position: relative;
    width: 7.9375rem;
    height: 7.5rem;
    border-radius: 100%;
    padding: 1.875rem;
    border: none;
    margin-bottom: 0.625rem;
}

.compter .circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5625rem;
}

.card__header .participation__percent {
    font-size: 3.125rem;
    font-weight: 800;
}

.card__header__content {
    font-size: 0.875rem;
    opacity: 0.6;
    margin-bottom: 0.625rem;
}

.card__body {
    padding: 1.5625rem;
}

.card__body__title {
    font-size: 0.83em;
    color: var(--neutral-dark-gray-blue);
    margin-bottom: 1.25rem;
}

.card__body__content {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    margin-bottom: 0.9375rem;
    font-size: 0.875rem;
}

.card__body__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem;
    border: none;
    border-radius: 0.75rem;
}

.item__category {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.item__icon img {
    vertical-align: middle;
}

.percent {
    font-weight: 700;
    color: var(--neutral-dark-gray-blue);
}

.hundred__percent {
    font-weight: 500;
    opacity: 0.6;
    margin-left: 0.3125rem;
}

.card__btn {
    width: 100%;
    padding: 0.9375rem;
    font-size: 1rem;
    color: var(--neutral-white);
    background: var(--neutral-dark-gray-blue);
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}

.card__btn:hover {
    background: linear-gradient(
        to bottom, 
        var(--gradient-light-slate-blue), 
        var(--gradient-light-royal-blue)
    )
}

footer {
    text-align: center;
}

.attribution {
    font-size: 0.6875rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 50rem) {   
    body {
        background-color: var(--neutral-pale-blue);
    }

    .container {
        min-height: 100vh;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        flex-direction: row;
        max-width: var(--max-width-card);
    }

    .card__header {
        width: calc(var(--max-width-card) * 0.47);
        border-top-left-radius: 1.875rem;
        border-top-right-radius: 1.875rem;
        z-index: 1;
    }

    .card__header .badge {
        margin-bottom: 1rem;
    }

    .card__header__title {
        font-size: 1.17em;
        margin-bottom: 0.375rem;
    }

    .card__header .compter {
        width: 9.8125rem;
        height: 9.375rem;
    }

    .compter .circle {
        top: 1.875rem;
    }

    .card__body {
        background-color: var(--neutral-white);
        width: calc(var(--max-width-card) * 0.53);
        border-top-right-radius: 1.875rem;
        border-bottom-right-radius: 1.875rem;
        transform: translateX(-1.5625rem);
        padding-left: 3.75rem;
    }

    .card__body__content {
        margin-bottom: 1.875rem;
    }

    .card__btn {
        padding: 0.625rem;
    }

    footer {
        position: relative;
    }

    .attribution {
        position: absolute;
        left: 50%;
        bottom: 0.625rem;
        transform: translateX(-50%);
    }

    .attribution a:hover {
        text-decoration: underline;
    }
}
